<% layout('layout/page') -%>
<% block('title', "Chat") -%>

<div id="room">
  <ul class="list-unstyled"></ul>
  <form>
    <input disabled class="form-control" autocomplete="off" autofocus placeholder="Message...">
  </form>
</div>

<script>
require(['jquery', 'chat'], function( $, chat ) {
        $(function() {
          chat.initializeSocket();
        });
});
</script>