<% layout('layout/page') -%>
<% block('title', "Чат") -%>

<script src="\vendor\bower_components\socket.io-client\dist\socket.io.js"></script>

<div id="room">
  <ul class="list-unstyled"></ul>
  <form>
    <input disabled class="form-control" autocomplete="off" autofocus placeholder="Сообщение...">
  </form>
</div>

<script>
    $(function() {
        Chat.initializeSocket();
    });
</script>