<% layout('layout/page') -%>
<% block('title', "Sign up") -%>

<p>Enter login and password</p>

<form class="form-horizontal login-form" name="login-form">
    <div class="form-group">
        <label for="input-username" class="col-lg-2 control-label">Login</label>

        <div class="col-lg-10">
            <input name="username" type="text" class="form-control" id="input-username" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Password</label>

        <div class="col-lg-10">
            <input name="password" type="password" class="form-control" id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="input-color" class="col-lg-2 control-label">Color</label>

        <div class="col-lg-10">
            <select name="color" id="input-color">
                <option value="#F00" selected>Red</option>
                <option value="#0F0">Green</option>
                <option value="#00F">Blue</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary" data-loading-text="Loading...">Sign up</button>
            <span class="help-block error"></span>
        </div>
    </div>

    <div class="status"></div>
</form>

<script>
    require(['jquery', 'chat'], function( $, chat ) {
        $(function() {
          chat.initializeLogin("/signup", "You've signed up");
        });
    });
</script>