.nickname {
    font-weight: bold;
}

.connected, .user-enter {
    color: green;
}

.disconnected, .user-left {
    color: red;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0px; /* why does bootstrap have -15px here?!*/
}